html,
body {
  height: 100%;
}

/* dashboard */
.dashboard {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: minmax(0, 1fr) minmax(0, 50vh);
  grid-template-rows: 50px minmax(0, 1fr) minmax(0, 1fr);
}

.dashboard-model {
  grid-row-start: 2;
  grid-row-end: 4;

  border-right: 1px solid #c7c7c7;
}

.dashboard-pie {
  grid-row-start: 3;
  grid-row-end: 4;

  background: #f6f6f6;
}

.dashboard-pie {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* toolbar */
.toolbar {
  grid-column-start: 1;
  grid-column-end: 3;

  padding: 11px 15px;
  background-color: #2e2d2d;
  box-shadow: 0px 2px 5px #00000040;
  z-index: 10;
}

.toolbar__img {
  height: 100%;
  width: auto;
}

/* dashboard-bar */
.dashboard-bar {
  grid-row-start: 2;
  grid-row-end: 3;

  padding: 10px;
  background: #f6f6f6;
  border-bottom: 1px solid #c7c7c7;

  display: flex;
  flex-direction: column;
}

.dashboard-bar__top {
  flex: 0 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dashboard-bar__chart {
  flex: 1;
}

#dashboard-bar-title {
  margin: 0;
}

#dashboard-bar-select {
  min-width: 100px;
}
